# Local build of autometrics-dev/autometrics-go/cmd/autometrics
/autometrics

# Local build of the example server
/web-server

# Local file that holds Slack secret webhook URL for alerts
slack_url.txt
